*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* fonts google class */
.jura {
  font-family: "Jura", sans-serif;
}

.open-sans{
    font-family: "Open sans", sans-serif;
}

body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url(/static/img/back2.jpg);
    background-size: 1400px, 1024px;
}

#display{
    width: 412px;
    min-height: 600px;
    background: linear-gradient(#4dc07f, #51c878, #51c878,#4dc07f);

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    border-radius: 12px;
    box-shadow: 0px 1px 4px black;
    margin: 10 0 10 40;
    padding: 0 0 10 0;
}

#form-produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add_foto{
    width: 95%;
    height: 200px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#caixa_foto{
    display: flex;
    align-items: center;
    gap: 5px;

}

#arquivo{
    width: 170px;
    padding: 0 0 20 0;
    margin: 20 20 15 20;
    font-size: 20px;
    
}

#botaofoto{
    width:260px;
    height: 125px;
    background-color: rgb(196, 196, 196);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form2{
    width: 95%;
    height: 200px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    
}

label[id="condicao" ]{
    margin: 0 250px 10px 0;  
}
label[id="categoria" ]{
    margin: 0 250px 10px 0;  
}

select{
    padding: 5 0 5 0;
    margin: 0 5 10 5;
}


#caixa_descricao{
    width: 95%;
    height: 150px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 10px;
}

#msg_descircao{
    width: 100%;
    height: 150px;
}

textarea{
    width: 90%;
    height: 120px
}


/* estilização dos botões */
input[id="pass_left"]{
    height: 48px;
    width: 48px;
    background-image: url("/static/img/btn_left.png");
    background-size: 100%;
    border: solid 0;
    box-shadow: 0px 0px 5px black;
    transition: ease-in 0.3s;
}

input[id="pass_left"]:hover{
    transition: ease-in 0.3s;
    cursor: pointer;
    box-shadow: 0px 3px 5px black;
    border-radius: 8px

}

input[id="pass_right"]{
    height: 48px;
    width: 48px;
    background-image: url("/static/img/btn_right.png");
    background-size: 100%;
    border: solid 0;
    box-shadow: 0px 0px 5px black;
    transition: ease-in 0.3s;
}

input[id="pass_right"]:hover{
    transition: ease-in 0.3s;
    cursor: pointer;
    box-shadow: 0px 3px 5px black;
    border-radius: 8px

}

div[id="botoes"]{
    display: flex;
    gap: 21px;
}

input[id="botao_post"]{
    height: 94px;
    width: 175px;
    background-color:#048C21 ;
    color: white;
    font-size: 32px;
    border-radius: 8px;
    border: solid 0px;
    box-shadow: 0px 3px 5px rgb(0, 0, 0)
}

input[id="botao_post"]:hover{
    transition: ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.03);
}

input[id="botao_clr"]{
    height: 94px;
    width: 175px;
    background-color:#ED1400 ;
    color: rgb(255, 255, 255);
    font-size: 32px;
    border-radius: 8px;
    border: solid 0px;
    box-shadow: 0px 3px 5px rgb(0, 0, 0)
}

input[id="botao_clr"]:hover{
    transition: ease-in 0.3s;
    cursor: pointer;
    transform: scale(1.03)
}

/* img */
img{
    height: 730px;
    width: 800px;
    margin: 0 0 0 0;
}