*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    min-width: 412px;
    width: 95%;
    height: 100px;
    margin: 0 0 10 0;

    background-color: greenyellow;

}

div#nav{
    display: flex;
    justify-content: center;
    gap:9px;
}

div#fantasma{
    display: flex;
    align-items: center;
    width: 293px;
    height: 35px;
    border-radius: 20px;
    border: solid black 1px;
    background-color: white;
    padding: 0 0 0 5px;
    margin: 5px 20px 5px 30px;
}

input#campo-pesquisa{
    width: 293px;
    height: 35px;
    border-radius: 20px;
    padding: 0 0 0 5px;
    outline: none;
    border: 0;
}

img#retornar{
    width: 45px;
    height: 45px;
}

img#logo{
    height: 45px;
    width: 175px;
}

section{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;


    min-width: 412px;
    width: 95%;
    height: 370px;
    margin: 0 0 10 0;

    background-color: rgb(47, 224, 255);
}

div#caixa1{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 37%;
    height: 350px;

    background-color: antiquewhite;
}

div#foto{
    width: 95%;
    height: 95%;
    background-color: white;
}

div#caixa2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    min-width: 100px;
    width: 29%;
    height: 350px;

    background-color: antiquewhite;
}

div#caixa3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

     min-width: 100px;
     width:29%;
     height: 350px;

    background-color: antiquewhite;
}

div#descricao{
    width: 100%;
    height: 50%;
}

div#info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


    min-width: 412px;
    width: 95%;
    height: 150px;

    background-color: rgb(106, 255, 87);
}