*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
/*fonts dos google*/
.open-sans{
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px;
    color: #043D11;
    font-weight: bold;
    
}
.jura{
    font-family: "Jura", sans-serif;

}

body{
    display: flex;
    background-color: rgb(206, 200, 200);
    justify-content: center;
    margin:35px;
}
#pai{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 12px;
    background-color: white;

}


div[id="pai"]{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 650px;
    width: 420px;

    background-color: white
}


p{
    margin: 60px;
    font-size: 34px;
    text-align: center;

}

form{
    margin: 47px 33px 0px 33px;
    width: 345px;
    height: 500px;
}

label{
    padding: 0 0 9px 1px; 
    height: 40px;
    width: 120px;

    font-size: 30px;
}

input,
[id="email"],
[id="password"]
{
    margin : 0 0 20px 0;
    height: 30px;
    width: 335px;
    padding: 0 0 0 5px;

    border: solid black 1px;
    background-color: #ffffff;
    border-radius: 3px;
}

div[id="botoes"]{
    display: flex;
    gap: 10px;
    margin: 0 0 50px 0;
}

input[value="Login"]{
        height: 55px;
        width: 50%;
        border-radius: 8px;
        transition: ease-in 0.3s;
        
}

input[value="Login"]:hover{
    cursor: pointer;
    transition: ease-in 0.3s;
    transform: scale(1.03);

}

input[value="Login"]{
    background-color: 048C21;
    font-size: 25px;
    color: white ;
    border: solid 0px;
    box-shadow: 0px 3px 5px rgb(168, 167, 167);
}

button[id="btnCadastro"]{
    height: 55px;
    width: 50%;
    background-color: 433838;
    font-size: 25px;
    color: white;
    border: solid 0px;
    box-shadow: 0px 3px 5px rgb(168, 167, 167);
    border-radius: 8px;
}

button[id="btnCadastro"]:hover{
 cursor: pointer;
    transition: ease-in 0.3s;
    transform: scale(1.03);   
}


    
    