<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Prdutos</title>

    <!-- icones do google -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- fonts do google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/exibicao_pdt.css') }}">
    <link rel="stylesheet" href="/static/css/cadastrar_item_doacao.css">
</head>
<body class="open-sans">
    <nav>
        <div id="nav">
            <div onclick="retornar()">
                <img src="/static/img/btn_left.png" id="retornar" >
            </div>

            <div id="fantasma">
                <span class="material-icons distanica-pequisar" class="onsearch" onclick="suporte()"s>search</span>
                <input type="text" id="campo-pesquisa" placeholder="Pesquisar..." > 
            </div>
        </div>
        <div class="btnnav" onclick="retornar()">
            <span class="material-icons">home</span>
            <div id="btn1" class="btn" >Home</div>
        </div>
        <div class="btnnav">
            <span class="material-icons" onclick="suporte()">chat</span>
            <div id="btn2" class="btn" onclick="suporte()"> Chat</div>
        </div>    
       <div class="btnnav">
            <span class="material-icons" onclick="suporte()">help</span>
            <div id="btn3" class="btn" onclick="suporte()"> Ajuda</div>
       </div>
        
    </nav>

    <section>
        <div id="caixa1">
            <div id="foto">
                {% if produto.foto %}
                    <img src="{{ produto.foto }}" alt="Foto do produto" id="pdt">
                {% else %}
                    <p>Imagem não disponível</p>
                {% endif %}
            </div>
        </div>
        <div id="caixa2">
            <div id="subcaixa1">
                <p> Categoria: {{ produto.categoria }}</p>
                <p> Condição: {{ produto.condicao }}</p>
                <p> Status: {{ produto.status }}</p>
            </div>
            <div id="subcaixa2">
                <p>Descrição</p>
                <div id="descricao">
                    <p>{{ produto.descricao }}</p>
                </div>
                                
                <div id="subcaixa3">
                    <span class="material-icons" onclick="suporte()">favorite</span>
                    <span class="material-icons" onclick="compartilharLink()">share</span>
                    <div id="button">
                        <span class="material-icons" onclick="suporte()">chat</span> 
                        <button class="botao" onclick="suporte()"> Tratar com anunciante</button>   
                    </div>
                </div>
                
            </div>
        </div>
            
    </section>

    <img src="/static/img/img.png" alt="logo" id="logo">

    <script src="{{ url_for('static', filename='js/exibicao_pdt.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>